body {
    margin: 0;
    padding: 0;
}

/*SECTION ONE START*/
ul {
    list-style: none;
    display: flex;
    gap: 1em;
    font-size: 18px;
    color: #E5E7EB;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 11em;
    padding-left: 11em;
    background-color: #1f2937;
    padding-bottom: 50px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}


.row{
    display:flex;
    justify-content: space-around;
    background-color: #1f2937;
    align-items: center;  
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 150px;
}

.text {
    width: 300px;
}

.text p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    margin-bottom: 5px;
}

.text button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 10px 35px;
    font-weight: 900;
    border-color: #3882F6;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.placeholder {
    background-color: gray;
    color: white;
    width: 512px;
    height: 216px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*SECTION ONE END*/
/*SECTION TWO START*/
h2 {
    text-align: center;
    margin-top: 60px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.box {
    border: 6px solid;
    border-radius: 16px;
    border-color: #3882F6;
    width: 200px;
    height: 200px;
    background-color: white;
    margin-bottom: 5px;
}

.element {
    max-width: 200px;
    margin-bottom: 100px;
}

.subtext {
    font-size: 18px;
    color: gray;
}

/*SECTION END START*/
/*SECTION THREE START*/
.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px 0;

}
.quote {
    max-width: 760px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.by {
    margin-top: -90px;
    margin-left: 50em;
    font-weight: bold;
}
/*SECTION THREE END*/
/*SECTION FOUR START*/

.section-4 {
    margin-top: 100px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    border-radius: 8px;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 100px;
    color: #E5E7EB;
}

h3 {
    margin: 0;
}

.content p {
    margin: 0;
}

.modal button {
    border: 3px solid;
    font-weight: 500;
    border-radius: 8px;
    padding: 6px 25px;
    color: white;
    background-color: #3882F6;
}
/*SECTION FOUR END*/
/*FOOTER START*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*FOOTER END*/